:root {
    --color1: #383838;
    --color2: #00779d;
    --bg1: #e0e0e0;
    --bg2: silver;
    --border-size: 2px;
    --round: 5px;
}

.clearfix::after {
    display: table;
    clear: both;
    content: "";
}

body {
    background: var(--bg1);
    font-family: 'Tahoma', sans-serif;
    background-image: url("img/resize.png");
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    padding: 0;
    margin: 0;
}

header {
    width: 100%;
    height: 100px;
    position: relative;
    background: var(--bg2);
    font-size: 30px;
    text-align: center;
    font-family: "arial", sans-serif;
    font-weight: bold;
    color: var(--bg2);
    text-transform: Uppercase;
    white-space: nowrap;
    background-image: url("img/7.jpg");
    background-repeat: repeat;
    background-blend-mode: multiply;
}

h1 {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.main {
    padding: 0;
    background-color: #ecce39;
    min-height: 600px;
}

footer {
    background-color: #b97b7b;
    clear: both;
    position: relative;
    height: 100px;
    /*margin-top: -200px;*/
}

.wrapper {
    width: 100%;
    background-color: red;
}

/*some changes*/
.container {
    min-height: 200px;
}

.settings {
    width: 50%;
    height: 100%;
    background: var(--bg2);
    float: left;
    box-sizing: border-box;
    padding: 10px;
    overflow-y: auto;
    border-right: var(--border-size) solid var(--color1);
}

#table-scroll {
    width: 50%;
    overflow-y: scroll;
}

#help {
    height: 100%;
    float: left;
    border-spacing: 0;
    border-collapse: collapse;
}

.help-line {
    background-color: var(--bg2);
}

.help-line:hover {
    background-color: var(--bg1);
}

.help-func {
    width: auto;
    font-weight: bold;
    padding: 0 5px;
}

.help-descr {
    width: 100%;
    padding: 0 5px;
}

#cnv-div {
    border: var(--color1) var(--border-size) solid;
    border-radius: var(--round);
    /*box-sizing: content-box;*/
    margin: 20px auto;
    width: 500px;
    height: 400px;
    min-width: 300px;
    min-height: 200px;

    resize: both;
    overflow: auto;
    position: relative;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#cnv {
    cursor: crosshair;
}

.lbl-value {
    color: #6C9007;
}

#lbl-cnv-size { /*h-center, v-top*/
    position: absolute;
    left: 50%;
    top: 2px;
    transform: translateX(-50%);
}

input {
    border: var(--border-size) solid var(--color1);
    font-size: 1.2em;
    background-color: var(--bg1);
    border-radius: 5px;
}

input:focus {
    outline: none;
    border-color: var(--color2);
}

input:hover {
    outline: none;
    border-color: var(--color2);
}

.range-input {
    width: 100px;
}

.param-name {
    font-weight: bold;
}

.axis-input {
    width: 50px;
}



.cur-div {
    display: inline-block;
}

input[type=checkbox] {
    width: 20px;
    height: 20px;
    vertical-align: middle;
    text-align: left;
}

#lbl-grid-size {
    margin-right: 22px;
}

.info {
    position: absolute;
    background-color: var(--bg1);
    height: 100%;
    width: 300px;
    z-index: 0;
    padding: 10px;
    cursor: default;
}

.key {
    background-color: var(--bg2);
    border: 1px solid var(--color1);
    border-radius: 3px;
    padding: 3px;
    margin-right: 2px;
    margin-bottom: 10px;
    display: inline-block;
    color: #1c1c1c;
}

.txt {

}

#formula-table {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
}

#formula-table tr {
    background-color: var(--bg2);
    vertical-align: top;
}

#formula-table td {
    /*border:1px solid black;*/
    min-width: 20px;
    padding: 0 3px;
}

#formula-table td:nth-child(1) {
    width: 75px;
}

#formula-table td:nth-child(3) {
    width: 75px;
    padding-left: 12px;
}

#formula-table td:nth-child(4) {
    width: 25px;
}

#formula-table td:nth-child(5) {
    width: 25px;
}

#formula-table td:nth-child(1) span {
    line-height: 28px;
    white-space: nowrap;
}


td .btn {

}

.input-error {
    background: #be7074;
}

.formula-label {
    display: none;
}

.formula-invalid {
    color: #c21010;
    display: block;
    word-wrap: break-word;
    font-size: 0.75em;
    overflow: auto;
}

.formula-input {
    width: 100%;

}

.formula-color {
    cursor: pointer;
    width: 100%;
}

.formula-add {
    background-image: url("img/plus.png");
    background-size: 30px;
}

.formula-del {
    background-image: url("img/minus.png");
}

.btn {
    display: inline-block;
    background-color: var(--bg1);
    background-position: center;
    background-repeat: no-repeat;
    border: 2px solid var(--color1);
    border-radius: 5px;
    width: 25px;
    height: 23px;
    background-size: 20px;
    cursor: pointer;
    outline: none;
}

.btn:hover {
    border-color: var(--color2);
    background-color: #eee;
}

.btn:active {
    background-color: #fff;
}


.isConst {
    color: var(--color2);
}