:root {
    --color1: #383838;
    --colorActive: #00779d;
    --bgLight: #e0e0e0;
    --bgDark: silver;
    --border-size: 2px;
    --round: 5px;
}

.clearfix::after {
    display: table;
    clear: both;
    content: "";
}

body {
    display: table;
    min-height: 100vh;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Tahoma', sans-serif;
    background: var(--bgLight);
}

header {
    width: 100%;
    height: 100px;
    font-size: 30px;
    text-align: center;
    font-family: "arial", sans-serif;
    font-weight: bold;
    text-transform: Uppercase;
    white-space: nowrap;
    color: var(--bgDark);
    background: var(--bgDark);
    background-image: url("img/bg.jpg");
    background-repeat: repeat;
    background-blend-mode: multiply;
}

main {
    display: table-row;
    height: 100%;
    padding: 0;
    background-color: var(--bgLight);
}

footer {
    height: 50px;

    background: rgb(61, 61, 61);
    background: -moz-linear-gradient(0deg, var(--color1) 0%, var(--bgLight) 100%);
    background: -webkit-linear-gradient(0deg, var(--color1) 0%, var(--bgLight) 100%);
    background: linear-gradient(0deg, var(--color1) 0%, var(--bgLight) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3d3d3d", endColorstr="#ffffff", GradientType=1);

    background-image: url("img/bg.jpg");
    background-repeat: repeat;
    color: var(--bgLight);
    text-align: center;
    padding: 20px;
}

footer span {
    line-height: 2em;
    font-family: "Courier New", sans-serif;
    background-color: rgba(10, 10, 10, 0.7);
}

header h1 {
    background-color: rgba(10, 10, 10, 0.4);
}

h1 {
    position: relative;
    margin: 0 auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.wrapper {
    /*position: relative;*/
    width: 100%;
    margin-left: auto;
    margin-right: 0;
    background-color: var(--bgLight);

}

/*some changes*/
.container {
    min-height: 200px;
}

.settings {
    width: 50%;
    height: 100%;
    background: var(--bgDark);
    float: left;
    box-sizing: border-box;
    padding: 10px;
    overflow-y: auto;
    border-right: var(--border-size) solid var(--color1);
}

#table-scroll {
    width: 50%;
    overflow-y: scroll;
}

#help {
    height: 100%;
    float: left;
    border-spacing: 0;
    border-collapse: collapse;
}

.help-line {
    color: var(--color1);
    background-color: var(--bgDark);
}

.help-line:hover {
    background-color: var(--bgLight);
}

.isConst {
    color: var(--colorActive);
}

.help-func {
    width: auto;
    font-weight: bold;
    padding: 0 5px;
}

.help-descr {
    width: 100%;
    padding: 0 5px;
}

#cnv-div {
    border: var(--color1) var(--border-size) solid;
    border-radius: var(--round);
    margin: 5px auto 20px;
    width: 600px;
    height: 320px;
    min-width: 300px;
    min-height: 200px;

    resize: both;
    overflow: auto;
    position: relative;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#cnv {
    cursor: crosshair;
}

.lbl-value {
    color: var(--color1);
}

#lbl-graph-size { /*h-center, v-top*/
    position: absolute;
    left: 50%;
    top: 2px;
    transform: translateX(-50%);
}

input {
    border: var(--border-size) solid var(--color1);
    font-size: 1.2em;
    background-color: var(--bgLight);
    border-radius: 5px;
}

input:focus {
    outline: none;
    border-color: var(--colorActive);
}

input:hover {
    outline: none;
    border-color: var(--colorActive);
}

.range-input {
    width: 100px;
}

.param-name {
    font-weight: bold;
    color: var(--color1);
}

.axis-input {
    width: 50px;
}



.cur-div {
    display: inline-block;
}

input[type=checkbox] {
    width: 20px;
    height: 20px;
    vertical-align: middle;
    text-align: left;
}

#lbl-grid-size {
    margin-right: 22px;
}

.info {
    position: absolute;
    left: 0;
    margin-left: 0;
    margin-right: auto;
    height: 300px;
    width: 25%;
    z-index: 0;
    padding-left: 10px;
    cursor: default;
    overflow-y: hidden;
}

.key {
    background-color: var(--bgDark);
    border: 1px solid var(--color1);
    border-radius: 3px;
    padding: 3px;
    margin-right: 2px;
    display: inline-block;
    color: #1c1c1c;
}

.key:not(:nth-child(1)) {
    margin-top: 10px;
}

.imgkey {
    background-color: var(--bgLight);
    padding: 1px;
}

#formula-table {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
}

#formula-table tr {
    background-color: var(--bgDark);
    vertical-align: top;
}

#formula-table td {
    /*border:1px solid black;*/
    min-width: 20px;
    padding: 0 3px;
}

#formula-table td:nth-child(1) {
    width: 75px;
}

#formula-table td:nth-child(3) {
    width: 75px;
    padding-left: 12px;
}

#formula-table td:nth-child(4) {
    width: 25px;
}

#formula-table td:nth-child(5) {
    width: 25px;
}

#formula-table td:nth-child(1) span {
    line-height: 28px;
    white-space: nowrap;
}


td .btn {

}

.input-error {
    background: #be7074;
}

.formula-label {
    display: none;
}

.formula-invalid {
    color: #c21010;
    display: block;
    word-wrap: break-word;
    font-size: 0.75em;
    overflow: auto;
}

.formula-input {
    width: 100%;

}

.formula-color {
    cursor: pointer;
    width: 100%;
}

.formula-add {
    background-image: url("img/plus.png");
    background-size: 30px;
}

.formula-del {
    background-image: url("img/minus.png");
}

.btn {
    display: inline-block;
    background-color: var(--bgLight);
    background-position: center;
    background-repeat: no-repeat;
    border: 2px solid var(--color1);
    border-radius: 5px;
    width: 25px;
    height: 23px;
    background-size: 20px;
    cursor: pointer;
    outline: none;
}

.btn:hover {
    border-color: var(--colorActive);
    background-color: #eee;
}

.btn:active {
    background-color: #fff;
}